<div class="user-side-container">
    <div class="img-container">
        <img src="../../../assets/pjwstk_image.png" alt="Social Media App Logo">
    </div>
    <h3>People that viewed your profile</h3>
    <div class="info-person">
        <img src="../../../assets/profile-images/sample1.jpeg" alt="">
        <div>
            <h5>Tom Renton</h5>
            <p>User information</p>
        </div>
    </div>
    <div class="btn-send">
        <button>Send a message</button>
    </div>
    <div class="info-person">
        <img src="../../../assets/profile-images/sample2.jpeg" alt="">
        <div>
            <h5>Josh Charson</h5>
            <p>User information</p>
        </div>
    </div>
    <div class="btn-send">
        <button>Send a message</button>
    </div>
    <div class="info-person">
        <img src="../../../assets/profile-images/sample3.jpeg" alt="">
        <div>
            <h5>Anna Smith</h5>
            <p>User information</p>
        </div>
    </div>
    <div class="btn-send">
        <button>Send a message</button>
    </div>
    <h3>People you may Know</h3>
    <div class="info-person">
        <img src="../../../assets/profile-images/sample4.jpeg" alt="">
        <div>
            <h5>Daniel Fernandez</h5>
            <p>User information</p>
        </div>
    </div>
    <div class="btn-send">
        <button>To set up a contact</button>
    </div>

    <div class="info-person">
        <img src="../../../assets/profile-images/sample5.jpeg" alt="">
        <div>
            <h5>Tom Karen</h5>
            <p>User information</p>
        </div>
    </div>
    <div class="btn-send">
        <button>To set up a contact</button>
    </div>

    <div class="info-person">
        <img src="../../../assets/profile-images/sample6.jpeg" alt="">
        <div>
            <h5>Mila Teren</h5>
            <p>User information</p>
        </div>
    </div>
    <div class="btn-send">
        <button>To set up a contact</button>
    </div>

</div>