<div class="app-infos">
    <div class="img-container"><img src="../../../assets/logo_transparent.png" alt="Social Media App Logo"></div>
    <div class="description-container">
        <p>A chat app designed for students and staff to connect,</p>
        <p>collaborate, and share opinions within the school community.</p>
        <p>Whether it's for class discussions, group projects,</p>
        <p>or social interaction, Scholarity provides a safe,</p>
        <p>organized space for users to communicate and engage with peers,</p>
        <p>fostering collaboration and idea-sharing in an educational setting</p>
    </div>
</div>